* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/BattleFight.png);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-size: 4rem;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
}

h2 {
    color: rgb(253, 252, 253);
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    margin: 0;
    display: flex;
    padding: 10px;
}